<form method="post" action="{{ path('musee_delete', {'id': musee.id}) }}" onsubmit="return confirm('Êtes vous certain de vouloir supprimer ce musée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musee.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
