{% extends 'base.html.twig' %}

{% block title %}Edit Musee{% endblock %}

{% block body %}
    <h1>Modifier le {{ musee.nom }}</h1>

    <div class="container">
        <div class="col-9 justify-content-center m-auto">
            {{ include('musee/_form.html.twig', {'button_label': 'Modifier'}) }}

            <button class="btn btn-secondary my-3">
                <a href="{{ path('musee_index') }}">retour à la liste</a>
            </button>

            {{ include('musee/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
