/* ============= TITRES =================== */
.index-title{
    width: 100%;
    box-shadow: 0px 5px 10px black;
}


h1{
    text-align: center;
    margin-top: 5px;
}
/* ================= IMAGES ============== */
/* td img{
    height: 150px;
} */
.img-index{
    height: 400px;
    object-fit: cover;
}

button a{
    color: white;
    text-decoration: none;
}